:root {
    --accent-color: hsl(194, 62%, 49%);
    --text-color: rgba(8, 65,150, 1);
    --background-color: rgba(207, 226,255, 1);
}

body {
    width: fit-content;
    height: fit-content;
    padding: 0;
    background-color: var(--background-color)
}

h1 {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: medium;
    color: var(--text-color);
}

button {
    width: 9em;
    height: 2.2em;
    margin: 1em;
    border: none;
    border-radius: 4px;
    box-shadow: 2px 2px darkgray;
    background-color: var(--accent-color);
    color: white;
    text-transform: uppercase;
    cursor: pointer;
}
button:hover {
    background-color: hsl(from var(--accent-color) h s 60%);
}
button:active:not(:disabled) {
    background-color: hsl(from var(--accent-color) h s 30%);
    color: rgb(216, 216, 216);
    transform:translate(2px, 2px);
    box-shadow: none;
}
button:disabled {
    background-color: rgb(184, 184, 184);
    color: rgb(216, 216, 216);
}